---
Checks:            |-
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl21-cpp,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-*,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-todo,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-use-auto,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-*,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter

WarningsAsErrors:  ''
HeaderFilterRegex: ''
FormatStyle:       file

CheckOptions:
  - key:   cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key:   readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key:   hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
...
